<a href="https://colab.research.google.com/github/SwastikGorai/NN-from-scratch/blob/main/NN_Scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/SwastikGorai/NN-from-scratch.git

Cloning into 'NN-from-scratch'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 23 (delta 6), reused 17 (delta 3), pack-reused 0
Receiving objects: 100% (23/23), 34.59 MiB | 19.08 MiB/s, done.
Resolving deltas: 100% (6/6), done.
Updating files: 100% (7/7), done.

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [3]:
dataset = pd.read_csv("/content/NN-from-scratch/dataset/train.csv")

In [4]:
dataset.head(10)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
data = np.array(dataset)

In [7]:
data

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [7, 0, 0, ..., 0, 0, 0],
       [6, 0, 0, ..., 0, 0, 0],
       [9, 0, 0, ..., 0, 0, 0]])

In [9]:
row,column = data.shape
print(row,column)

42000 785

In [13]:
train, test = train_test_split(data, test_size = 0.2)

In [20]:
train, test = train.T , test.T

In [27]:
train_y = train[0]
train_x = train[1:]

In [28]:
test_x = test[0]
test_y = test[1:]

In [43]:
train_x[:,0].shape # or train_x.shape[0]

(784, 33600)

# Create parameters, weights, functions

## Initialize the weights and Biases

In [44]:
def initialize():


  weight_1 = np.random.rand(10,784)
  bias_1 = np.random.rand(10,1)

  weight_2 = np.random.rand(10,10)
  bias_2 = np.random.rand(10,1)

  weight_3 = np.random.rand(10,10)
  bias_3 = np.random.rand(10,1)

  return weight_1, bias_1, weight_2, bias_2, weight_3, bias_3

## Define the Rectified Linear Unit (ReLU) function:
$Relu(z) = max(0, z)
$

In [ ]:
def ReLU(x):
  return np.maximum(x,0)

In [ ]:
def derivative_ReLU(x):
  return x>0

## Define the softmax function

$\sigma(z_i) = \frac{e^{z_{i}}}{\sum_{j=1}^K e^{z_{j}}} \ \ \ for\ i=1,2,\dots,K$

In [ ]:
def Softmax(x):
  return np.exp(x)/ np.sum(np.exp(x))

## Define the Forward Propagation function

In [ ]:
def forward_propagation(w1, b1, w2, b2, w3, b3, layer):
  Z1 = w1.dot(layer) + b1
  L1 = ReLU(Z1)

  Z2 = w2.dot(L1) + b2
  L2 = ReLU(Z2)

  Z3 = w3.dot(L2) + b3
  L3 = Softmax(Z3)

## Define a One-Hot-Encoding Function

In [ ]:
def one_hot_encode(Y):
  one_hot_Y = np.zeros((Y.size, Y.max() + 1))
  one_hot_Y[np.arange(Y.size), Y] = 1
  one_hot_Y = one_hot_Y.T
  return one_hot_Y

### Explaination:
1.   ` one_hot_Y = np.zeros((Y.size, Y.max() + 1))` :
> Creates a matrix of size `Y.size` and `Y.max() + 1`. `Y.max() + 1` means that if there are 3 distinct values, say `Y=  [3,1,2]` then there would be 4 columns and 3 rows created(incl. 0) like `[[0,0,0,0],[0,0,0,0],[0,0,0,0],]`

2.   `one_hot_Y[np.arange(Y.size), Y] = 1`
> * `np.arange(Y.size)` creates a range of values starting from 0, For example, if Y is `[3,1,2]` then np.arange would create `[0,1,2,3]`
> *  `one_hot_Y[np.arange(Y.size), Y]` will be like:
>> 1. `one_hot[0,3]` = 1
>> 2. `one_hot[1,1]` = 1
>> 3. `one_hot[2,2]` = 1

3. Next, transposing the values, to bring labels to column headers.
Here, each row is a record(or value). We need each column to be a record(or value).

## Define the Backward Propagation Function

In [45]:
def backward_propagation(Z1, L1, W1, Z2, L2, W2, Z3, L3, W3, X, Y):
  one_hot_y = one_hot_encode(Y)
  m = Y.size
  # Find the gradient of loss function wrt to the pre-activated values (Z2) of the output layer
  dz3 = L3 - one_hot_y # This calculation essentially measures the difference between the predicted output and the true target for each class. It gives us a measure of how much the predictions deviate from the actual target class probabilities.

  # find the gradient of the loss function wrt to the Weights in the output layers
  dw3 = 1 / m * dz3.dot(L2.T) # This multiplication effectively calculates how the gradients of z3 with respect to the weights w3 influence the overall loss. The 1/m rescales the resultant.

  # Find the gradient of the loss function wrt to the biases in the output layer
  db3 = 1 / m * np.sum(dz3) # Summing its(dz3) elements gives a measure of how the loss function changes with respect to changes in the overall output of the output layer.

  dz2 = W3.T.dot(dz3) * (derivative_ReLU(dz3))
  dw2 = 1 / m * dz3.dot(L1.T)
  db2 = 1 / m * np.sum(dz2)

  dz1 = W2.T.dot(dz2) * (derivative_ReLU(dz2))
  dw1 = 1 / m * dz2.dot(X.T)
  db1 = 1 / m * np.sum(dz1)

  return dw3, db3, dw2, db2, dw1, db1

## Define the function to apply changes to the values

In [46]:
def update(W1, W2, W3, B1, B2, B3, dw1, dw2, dw3, db1, db2, db3, learning_rate):
  W1 = W1 - learning_rate * dw1
  B1 = B1 - learning_rate * db1
  W2 = W2 - learning_rate * dw2
  B2 = B2 - learning_rate * db2
  W3 = W3 - learning_rate * dw3
  B3 = B3 - learning_rate * db3
  return W1, W2, W3, B1, B2 ,B3